<?xml version="1.0"?>
<launch>
    <!-- <arg name="video" default="$(find tfpose_ros)/etcs/dance.mp4" /> -->
    <arg name="video" default="0" />
    <arg name="video_width" default="640" />
    <arg name="video_height" default="480" />

    <arg name="gpuid" default="0" />

    <arg name="model" default="mobilenet_v2_small" />
    <arg name="resolution" default="432x368" />


    <node name="pose_estimator" pkg="tfpose_ros" type="broadcaster_ros.py" output="screen" required="true">
        <env name="CUDA_VISIBLE_DEVICES" value="$(arg gpuid)" />
        <param name="camera" value="/camera/color/image_raw" />
        <param name="model" value="$(arg model)" />
        <param name="resolution" value="$(arg resolution)" />
    </node>

    <!-- include file="$(find video_stream_opencv)/launch/camera.launch">
        <arg name="camera_name" value="videofile" />

        <arg name="video_stream_provider" value="$(arg video)" />
        <arg name="fps" value="40" />

        <arg name="frame_id" value="videofile_frame" />
        <arg name="width" value="$(arg video_width)"/>
        <arg name="height" value="$(arg video_height)"/>
        <arg name="visualize" value="false" />
    </include -->

</launch>